body {
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, #ff0000, rgb(255, 255, 0));
  height: 100vh;
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0.03em 0.03em rgba(255, 255, 255, 0.4);
  letter-spacing: 0.4em;
  width: 100vw;
}

h2 {
  font-family: inherit;
  letter-spacing: 0.3em;
  margin: 1.5rem 0 0 0;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
  text-transform: none;
  width: 50%;
  padding: 1rem 1rem;
  margin: 2rem auto;
  border: solid 2px #fff;
  border-radius: 3rem;
  cursor: pointer;
}

#color1,
#color2,
#randomBtn,
#direction,
#degrees {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  outline: none !important;
  padding: 0;
  margin: 2rem 1rem;
  cursor: pointer;
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

p {
  transform: translateX(-50%);
}

#randomBtn,
#direction,
#degrees {
  border: solid 3px white;
  font: 600 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

#direction {
  padding-inline-start: 0.5rem;
  width: 10rem;
}

.degreesDiv {
  transform: translateX(0%);
}

.directionDiv {
  transform: translateX(-15%);
}

#degrees {
  height: 2.5rem;
  padding-inline-start: 0.5rem;
}

#randomBtn {
  width: 12em;
  height: 4rem;
}

#degrees {
  border-inline-width: 3px;
}

footer {
  color: #fff;
  font-family: Ink free, cursive, sans-serif;
  text-transform: lowercase;
  margin: auto;
  text-align: center;
  padding: 6rem;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 776px) {
  h1 {
    font: 600 2.5em "Raleway", sans-serif;
    letter-spacing: 0.3em;
  }
  h2 {
    letter-spacing: normal;
  }
  h3 {
    width: 80%;
  }
  .buttonsDiv {
    display: block;
  }

  .directionDiv {
    transform: translateX(0%);
  }
  p {
    transform: translateX(0%);
  }
  #degreesDiv {
    transform: translateX(0%);
  }
}
