body {
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, #ff0000, rgb(255, 255, 0));
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.4em;
  width: 100%;
}

h2 {
  font-family: inherit;
  letter-spacing: 0.3em;
}

input {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
  text-transform: none;
}
